<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top navy-bg h-auto">
        <a class="navbar-brand" href="/" class="" aria-current="page">
            <img src="/img/ok.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse collapsed" aria-expanded="false" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item"><a href="#about-me" class="nav-link" aria-current="page">About</a></li>
                <li class="nav-item"><a href="#works" class="nav-link">Work</a></li>
                <li class="nav-item"><a href="#contact-me" class="nav-link">Contact</a></li>
                <li class="nav-item">
                    <a href="/docs/ormonali_kaarov.pdf" class="resume-button">Resume</a>
                </li>
            </ul>
        </div>
    </nav>
</div>